.header__info {
    background-color: bisque;
    border: none;
    margin: 0%;
}

.container__header {
    display: flex;
    justify-content: space-between;
    border: none;
    padding: 0%;
}

.container__img {
    display: flex;
    flex-direction: column;
    #imagem_bruno {
        width: 300px;
        border-radius: 100%;
    }
    #nome_bruno {
        font-family: Verdana, Geneva, Tahoma, sans-serif;
        text-align: center;
        margin: 3px;
    }   
}

.header_main_text {
    text-align: justify;
    border: 10px;
}